-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "type_card" AS ENUM ('visa', 'mastercard', 'discover', 'interac', 'american express');

-- CreateTable
CREATE TABLE "comptes" (
    "numc" VARCHAR(19) NOT NULL,
    "idu" VARCHAR(30),
    "nom" TEXT NOT NULL,
    "solde" INTEGER DEFAULT 0,
    "typec" "type_card" NOT NULL,

    CONSTRAINT "comptes_pkey" PRIMARY KEY ("numc")
);

-- CreateTable
CREATE TABLE "transactions" (
    "idt" BIGSERIAL NOT NULL,
    "numc" VARCHAR(19),
    "montant" INTEGER,
    "description" TEXT,
    "categorie" TEXT,
    "typet" TEXT,

    CONSTRAINT "transactions_pkey" PRIMARY KEY ("idt")
);

-- CreateTable
CREATE TABLE "utilisateurs" (
    "idu" VARCHAR(30) NOT NULL,
    "nom" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "mdp" TEXT,

    CONSTRAINT "utilisateurs_pkey" PRIMARY KEY ("idu")
);

-- CreateIndex
CREATE UNIQUE INDEX "comptes_nom_key" ON "comptes"("nom");

-- CreateIndex
CREATE UNIQUE INDEX "utilisateurs_email_key" ON "utilisateurs"("email");

-- AddForeignKey
ALTER TABLE "comptes" ADD CONSTRAINT "comptes_idu_fkey" FOREIGN KEY ("idu") REFERENCES "utilisateurs"("idu") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "transactions" ADD CONSTRAINT "transactions_numc_fkey" FOREIGN KEY ("numc") REFERENCES "comptes"("numc") ON DELETE CASCADE ON UPDATE CASCADE;

